@charset "UTF-8";
#navTab{width:100%; margin-top:10px; margin-bottom:10px}
#navTab li{width:33%;}
#navContent div{text-align:left}
h4{text-align:left;}
section{margin-bottom:30px}

#navContent>div>div{border:1px solid #ddd; border-radius:5px; padding:40px}

.nav-tabs .nav-item .nav-link:not(.active) {
    background:#fff;
    border-bottom:#ddd;
    color:black;
}

.nav-tabs .nav-item .nav-link {
    background:#00a7f0;
    color:white;
}