@charset "UTF-8";
*{margin:0px; padding:0px; text-align:center}
header{background:#fff}
footer {height:200px; margin:0px 15%;}
ul,li{float:left; list-style-type:none;}

/*섹션 기본으로 아래 설정은 적용 해주세요. {헤더에 의한 잘림방지; 가로사이즈; 가로정렬} 입니다.*/
section{padding-top:300px; width:1200px; margin:0px auto;}

.navbar{margin:0px; padding:0px 15%; width:100%;}
#mainLogo, #footLogo{width:280px;}

<<<<<<< HEAD
 
=======

>>>>>>> branch 'master' of https://github.com/khj542423/GoottTour.git
#mainMenu ul:first-child{float:right; width:100%; margin:0px; font-size:0.9em}
#mainMenu ul:first-child li{float:right; width:80px}
#mainMenu ul:last-child{width:100%; height:80px; line-height:80px;}
#mainMenu ul:last-child li{width:120px; font-size:1.1em;}
#mainMenu ul:last-child li:first-child{width:280px;}
#mainMenu ul:last-child li:last-child{width:200px;}
#mainMenu input:first-child{height:40px; width:160px;}
#mainMenu input:last-child{height:40px; width:40px;font-size:0.8em; line-height:40px}
#imgBanner{margin-top:104px; margin-left:-25%; width:150%; height:200px; background:yellow}

#footInfo{margin:0px 10%; margin-top:20px;white-space:nowrap;}
#footMenu{margin-left:-25%; width:146.4%; height:40px; background:#aaa}
#footMenu ul{margin: 0px 15%; width:70%; background-color:#aaa; height:40px; line-height:40px}
#footMenu ul li{width:20%;}
#footInfo td{text-align:left}

#footImgList{margin-top: 20px;}
#footImgList img{width:160px}
#footImgList li{margin-right:50px}
#footImgList li:last-child{margin-right:0px}