@charset "UTF-8";

.popidpw {
	width: 100%;
	background: #f3f3f3;
	padding: 20px 0 10px 0;
	overflow: hidden;
}

.popidpw .box_join {
	width: 450px;
	border: 1px solid #c3c3c3;
	margin: 10px auto;
}



.popidpw .box_join .stit {
	width: 70px;
	height: 45px;
	padding: auto 0 0 20px;
	vertical-align: top;
	font-size: 14px;
}

.popidpw .box_join .frm {
	vertical-align: top;
	line-height: 160%;
	font-size: 12px;
}

.popidpw .box_join .ipf {
	width: 298px;
	height: 40px;
	font-size: 16px;
	padding: 0 5px;
	margin: 0 5px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.popidpw .box_join .ipf2 {
	width: 80px;
	height: 40px;
	font-size: 16px;
	padding: 0 5px;
	margin: 0 5px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.popidpw .box_join td * {
	vertical-align: middle;
}

#pop {
	margin: auto 40px;
}

#close {
	margin: auto 80px;
}

#search {
	text-align: center;
	margin: 20px auto;
}