@charset "UTF-8";
#tbid{width:100%; margin-top:10px; }
#trid th{font-size:25px; font-weight:bold; }
h1{text-align:left; margin-top:10px;}
a:link{color:red; text-decoration:none;}
a:visited{color:black; text-decoration:none;}
a:hover{color:blue; text-decoration:underline;}
#join p{text-align:left; font-weight:bold; font-size: 20px;}
#telid{width:20px;} 
#btn-rev{text-align:center; marign:50px auto; }
#btn-rev button{margin:50px auto; width:100px; height:50px;}
 