@charset "UTF-8";

.sub_reserv {
	height: 38px;
	font-size: 22px;
	color: #444;
}

/*예약하기 타이틀*/
.sub_reserv .tit {
	position: relative;
	top: 3px;
	left: 0px;
}

.sub_reserv .tit_s {
	position: relative;
	top: 3px;
	font-size: 16px;
	color: #f63d8b;
}

.res_tit {
	clear: both;
	clear: both;
	height: 25px;
	font-size: 18px;
	font-weight: bold;
	color: #444;
	padding: 1px 0 0 20px;
	margin: 25px 0 5px 25px;
}

#m1 {
	margin-left: -800px;
	font-size: 16px;
	font-weight: bold;
}

.res_info_box {
	background: #fff;
	overflow: hidden;
	margin: 0 25px;
}

.res_box {
	margin: 0 25px;
	overflow: hidden;
	background: #ffeef5;
	border-radius: 5px;
}

.res_box .res_write {
	margin: 10px 30px;
	width: 990px;
}

.res_box .res_write th {
	height: 35px;
	font-size: 16px;
	text-align: center;
	color: #444;
	text-align: left;
	font-weight: normal;
	border: 0px solid #ffa1c8;
}

.res_box .res_write td {
	height: 55px;
	font-size: 16px;
	color: #444;
	font-weight: normal;
}

.res_box .res_write .input_box {
	height: 46px;
	width: 250px;
	font-size: 16px;
	padding-left: 10px;
	border-radius: 5px;
}

.res_check {
	clear: both;
	clear: both;
	height: 25px;
	font-size: 14px;
	font-weight: normal;
	color: #444;
	padding: 1px 0 0 20px;
}

.res_box .res_write_name {
	margin: 15px;
}

.res_box .res_write_name th {
	height: 35px;
	font-size: 16px;
	text-align: center;
	color: #444;
	text-align: left;
	font-weight: normal;
	border: 0px solid #ffa1c8;
}

.res_box .res_write_name td {
	height: 55px;
	font-size: 16px;
	color: #444;
	font-weight: normal;
}

.res_box .res_write_name .ex {
	width: 185px;
	height: 30px;
	line-height: 20px;
	color: #666;
	font-size: 12px;
	padding: 0 0 0 15px;
}

.res_box .res_write_name .dot_x {
	float: left;
	width: 960px;
	height: 20px;
}

.res {
	width: 100%;
	border: 1px solid #cccccc;
}

.res .tit {
	width: 130px;
	font-size: 16px;
	text-align: center;
	color: #fff;
	border: 1px solid #ffa1c8;
	background-color: #f973ab;
	padding: 20px 0 20px 0;
}

.res .cont {
	border: 1px solid #ffcbe1;
	min-height: 50px;
	line-height: 20px;
	font-size: 16px;
	padding: 20px 0 20px 20px;
}

.res .cont2 {
	width: 800px;
	padding-left: 10px;
	border: 1px solid #ffcbe1;
	min-height: 50px;
	line-height: 24px;
	font-size: 16px;
	padding: 20px;
}

.res .cont3 {
	width: 947px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	height: 50px;
	line-height: 20px;
	color: #38608b;
	font-size: 16px;
}

.res .peo {
	color: #e04736;
	font-size: 16px;
}


.res .tit2 {
	width: 130px;
	border: 1px solid #ffcbe1;
	background-color: #f0ecf0;
	min-height: 50px;
	text-align: center;
	color: #202020;
	font-size: 12px;
}

.res .cont5 {
	width: 185px;
	padding-left: 5px;
	border: 1px solid #ffcbe1;
	height: 50px;
	line-height: 30px;
	color: #38608b;
	font-size: 12px;
}

.res .cont2 .none {
	font-size: 16px;
	color: #888;
}

.res .cont2 .name {
	font-size: 16px;
	color: #6173c9;
	font-weight: bold;
}

.res .cont2 .info {
	font-size: 16px;
	color: #bd0b9d;
}

.res .cont2 .date {
	font-size: 16px;
	color: #222222;
}

.res .cont2 .sail_won_2 {
	font-size: 24px;
	color: #ff1e00;
	margin-top: 0px;
	font-weight: bold;
}

.res .cont2 .sail_won_text {
	font-size: 14px;
	color: #ff1e00;
}

.res .cont2 .info_view {
	height: 250px;
	font-size: 16px;
	line-height: 20px;
	padding: 10px;
	overflow-y: scroll;
}

.res .cont2 .info_view table td {
	font-size: 16px;
	line-height: 20px;
}

.res .info_view_ok {
	border: 1px solid #fff;
	text-align: center;
	height: 40px;
	font-size: 16px;
}

.res .input_box {
	height: 36px;
	width: 150px;
	font-size: 16px;
	padding-left: 10px;
	border-radius: 5px;
	margin-left: 500px;
}

#name {
	margin-left: -740px;
}

#phone1 {
	margin-left: -510px;
}

#email {
	margin-left: -740px;
}

#sum {
	margin-left: -800px;
}

#dname {
	margin-left: -740px;
}

#dphone1 {
	margin-left: -510px;
}

#user {
	margin-left: -800px;
}

.input_box_res_chk {
	height: 30px;
	font-size: 16px;
	padding: 0 5px;
	margin: 0 5px;
}


.res_bt {
	margin-left: 10px;
	border: 0px;
	padding: 20px 50px 20px 50px;
	background: #ff0066;
	color: #fff;
	vertical-align: middle;
	font-size: 13px;
	cursor: pointer;
	border-radius: 2px;
}

.res_bt:hover {
	margin-left: 10px;
	border: 0px;
	padding: 20px 50px 20px 50px;
	background: #0093ff;
	color: #fff;
	vertical-align: middle;
	font-size: 13px;
	border-radius: 2px;
}