@charset "UTF-8";
*{margin:0; padding:0;}
ul,li{float:left; list-style-type:none}
#mainMenu ul:first-child{width:100%; border:1px solid gray;}
#mainMenu ul:last-child{width:100%; height:50px; background-color:lightblue}