@charset "UTF-8";
section{margin-bottom:50px}
#sideMenu{width:130px; position:absolute; left:220px; top:304px;}
#reviewList{width:130px; float:bottom}
#sideMenu div:first-child{height:80px; font-size:1.2em; font-weight:bold; text-align:center; line-height:80px; background:lightblue}
#reviewList{float:bottom}
#reviewPan{width:100%;}
#reviewPan h4{text-align:left; margin-left:30px; margin-top:20px}
#reviewWrite{width:80%; margin:0px auto; margin-bottom:20px; border-top: 1px solid gray; border-bottom:1px solid gray}
#reviewWrite table tr{height:60px}
#reviewWrite table tr td:first-child{width:100px; background:yellow; border-bottom:1px solid white}
#reviewWrite table tr td:last-child{width:90%; padding:20px; border-bottom:1px solid #ddd; text-align:left;}
#button{margin-left:10%; text-align:left}
#button button:last-child{position:relative; left:835px}

#writer{width:200px; text-align:left}
#lCategory{width:200px}
#sCategory{width:200px}
#writeTitle{width:400px; text-align:left}

.nav .nav-item .nav-link:not(.active) {
    background:#fff;
    color:black;
}

.nav .nav-item .nav-link {
    background:rgb(0,123,255);
    color:white;
}